nodered/flows_incoming_router.json
[
  {
    "id": "ha_server",
    "type": "server",
    "name": "Home Assistant",
    "addon": true
  },
  {
    "id": "in_events",
    "type": "server-events",
    "z": "flow1",
    "name": "HA Event: hacs_unifi_talk_webhook",
    "server": "ha_server",
    "event_type": "hacs_unifi_talk_webhook",
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "waitForRunning": true,
    "x": 230,
    "y": 120,
    "wires": [["switch_event"]]
  },
  {
    "id": "switch_event",
    "type": "switch",
    "z": "flow1",
    "name": "Route by event",
    "property": "payload.event",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "incoming_call", "vt": "str" },
      { "t": "eq", "v": "call_established", "vt": "str" },
      { "t": "eq", "v": "entered_menu", "vt": "str" },
      { "t": "eq", "v": "dtmf_digit", "vt": "str" },
      { "t": "eq", "v": "playback_done", "vt": "str" },
      { "t": "eq", "v": "ring_timeout", "vt": "str" },
      { "t": "eq", "v": "timeout", "vt": "str" },
      { "t": "eq", "v": "call_disconnected", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "x": 500,
    "y": 120,
    "wires": [
      ["incoming_log"],
      ["established_play_msg"],
      [],
      ["on_dtmf"],
      [],
      [],
      [],
      ["disc_log"]
    ]
  },
  {
    "id": "incoming_log",
    "type": "debug",
    "z": "flow1",
    "name": "Incoming call",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 770,
    "y": 80,
    "wires": []
  },
  {
    "id": "established_play_msg",
    "type": "api-call-service",
    "z": "flow1",
    "name": "Play welcome",
    "server": "ha_server",
    "version": 5,
    "debugenabled": false,
    "domain": "hacs_unifi_talk",
    "service": "play_message",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"number\":\"**620\",\"message\":\"Welcome. Your call has been established.\"}",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "msg",
    "mustacheAltTags": false,
    "x": 780,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "on_dtmf",
    "type": "switch",
    "z": "flow1",
    "name": "DTMF #1/#2",
    "property": "payload.digit",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "1", "vt": "str" },
      { "t": "eq", "v": "2", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "x": 740,
    "y": 160,
    "wires": [
      ["act_open_door"],
      ["act_lights_on"]
    ]
  },
  {
    "id": "act_open_door",
    "type": "api-call-service",
    "z": "flow1",
    "name": "Open Door",
    "server": "ha_server",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "target": { "entity_id": ["switch.open_front_door"] },
    "data": "",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "msg",
    "mustacheAltTags": false,
    "x": 980,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "act_lights_on",
    "type": "api-call-service",
    "z": "flow1",
    "name": "Outside Light On",
    "server": "ha_server",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "target": { "entity_id": ["light.outside"] },
    "data": "",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "msg",
    "mustacheAltTags": false,
    "x": 995,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "disc_log",
    "type": "debug",
    "z": "flow1",
    "name": "Disconnected",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 765,
    "y": 220,
    "wires": []
  }
]
